*.pyc
*.a
*.fna
*.fna.fai
*.dict
*.gtf
*.gff3
*.vcf
*.Rhistory
*.Rapp.history
*.DS_Store
clean_folders.sh
transfer_to_puhti.sh

data/*
#doc/*
scripts/deprecated/*
analyses/deprecated/*
analyses/direct_indirect_selection_analysis/deprecated/*
analyses/direct_indirect_selection_analysis/data/*
analyses/direct_indirect_selection_analysis/plots/*
analyses/direct_indirect_selection_analysis/manuscript/*
analyses/genetic_map_analysis/data/*
analyses/genetic_map_analysis/plots/*
analyses/genetic_map_analysis/deprecated/*
